astroid==2.6.2
bottle==0.12.19
bottle-websocket==0.2.9
cachetools==4.2.2
certifi==2021.5.30
chardet==4.0.0
Eel==0.14.0
ffmpeg==1.4
future==0.18.2
gevent==21.1.2
gevent-websocket==0.10.1
google-api-core==1.31.0
google-api-python-client==2.12.0
google-auth==1.32.1
google-auth-httplib2==0.1.0
googleapis-common-protos==1.53.0
greenlet==1.1.0
httplib2==0.19.1
idna==2.10
isort==5.9.2
lazy-object-proxy==1.6.0
mccabe==0.6.1
packaging==21.0
pafy==0.5.5
pkg-resources==0.0.0
protobuf==3.17.3
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.7.0
pylint==2.9.3
pyparsing==2.4.7
pytube==10.9.2
pytz==2021.1
requests==2.25.1
rsa==4.7.2
six==1.16.0
toml==0.10.2
uritemplate==3.0.1
urllib3==1.26.6
whichcraft==0.6.1
wrapt==1.12.1
yapf==0.31.0
youtube-dl==2021.6.6
zope.event==4.5.0
zope.interface==5.4.0
